<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS- <%= titulo%></title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <%- include("navbar") %>